# dependencies
node_modules/

# environment variables
.env
.env.local
.env.development.local
.env.production.local

# next.js build
.next/
out/

# production build
dist/
build/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/

# misc
*.pem
*.tsbuildinfo

# uploads / temp
uploads/
tmp/